mat-card{
    border:none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.example-full-width{
    width: 100%;
}

.errmsg{
    float: right;
}
.mat-typography{
    width: 50%;
}
