<p>User login works!</p>

<nav>
  <button mat-raised-button color="accent"  class="login">Login</button> 
  <button mat-raised-button color="accent" routerLink="../list" class="list">List</button> 
</nav>
<br><br>
<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">User Login</mat-toolbar>
      <mat-card>
        <!-- <form [formGroup]="signInForm" (ngSubmit)="signIN()"> -->
          <form [formGroup]="signInForm" (ngSubmit)="signIN()">
       
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input
              autofocus
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
            />
          </mat-form-field>
  
          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input
              type="password"
              autocomplete="false"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
  
          <button type="submit" class="submit" mat-raised-button color="primary">LOGIN</button>
        </form>
        <mat-toolbar class="login-toolbar" style="background-color:white"
          >login with</mat-toolbar
        >
        <div class="socialMediaFlex">
          <button mat-mini-fab color="primary">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <!-- <i class="fab fa-google"></i> -->
                <mat-icon>fa-google</mat-icon>
        </button>
        </div>
        <br />
        <span>
          If You don't have a account yet please
          <a routerLink="../register">REGISTER HERE</a></span
        >
      </mat-card>
    </div>
  </div>
  