button{
    margin-right: 1vw;
    color: white;
    font-size: 15px;
    line-height: 18px;
    height: auto;
    width: auto;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .mat-row:hover {
    background: rgba(0, 0, 0, 0.04);
  }